<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小马仔音乐</title>
    <link rel="stylesheet" type="text/css" href="../../../resources/system/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/system/css/demo.css"/>
    <script type="text/javascript" src="../../../resources/manager/js/jquery.min.js"></script>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="../../../resources/system/css/component.css"/>
    <!--[if IE]>
    <script src="../../../resources/system/js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>小码仔音乐</h3>
                <form action="/signIn" id="userForm" method="post">
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="userCode" class="text" style="color: #FFFFFF !important" type="text"
                               placeholder="请输入账号">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" autocomplete="new-password"
                               type="password" placeholder="请输入密码">
                    </div>
                    <span style="color: red;margin-left: 30px" th:text="${errorMsg}"></span>
                    <div class="mb2" style="cursor: pointer">
                        <a class="act-but submit" onclick="sigIn()" style="color: #FFFFFF">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script src="../../../resources/system/js/TweenLite.min.js"></script>
<script src="../../../resources/system/js/EasePack.min.js"></script>
<script src="../../../resources/system/js/rAF.js"></script>
<script src="../../../resources/system/js/demo-1.js"></script>
</body>
<script>
    function sigIn() {
        $("#userForm").submit();
    }
</script>
</html>